<form action="/create" method="post">
  <label for="contact_name">Contact Name:</label>
  <div><input name="contact_name" placeholder="Name" /></div>

  <label for="phone">Phone Number:</label>
  <div><input name="phone" placeholder="Phone" /></div>

  <label for="address">Address:</label>
  <div><input name="address" placeholder="Address" /></div>

  <label for="email">E-mail Address:</label>
  <div><input name="email" placeholder="E-mail" /></div>

  <div>
    <button type="submit">Add Contact</button>
  </div>
</form>

<a href="/">Cancel</a>